@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: $lg;
}

.card {
  font-weight: 600;
  background-color: $gray;
  border-radius: 4px;
  text-transform: capitalize;
  padding: $sm;
  min-width: 48px;
  text-align: center;
  cursor: pointer;

  &.active {
    background-color: $light-gray;
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.row {
  display: flex;
  align-items: stretch;
  gap: $sm;

  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.toggler {
  min-width: 200px;
  padding: 1rem 0.9rem;
  border-radius: 4px;
  border: 1px solid;
  border-color: $gray2;
  color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;

  @media (max-width: 720px) {
    min-width: 0;
    max-width: 100%;
  }

  &:focus {
    border-color: $primary-color;
  }
}

.link {
  color: $primary-color;
  cursor: pointer;
}

// Public MUI overrides
.MuiButton-root.button-primary {
  background-color: $primary-color;
}

.select.MuiSelect-select {
  min-width: 200px;
}
